# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.log
*.tmp
*.swp
*.swo

# === Virtual environments ===
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/

# === Spark / Hadoop temp ===
.derby/
metastore_db/
spark-warehouse/
*.crc
*.parquet
*.orc

dump.rdb
appendonly.aof
models/
dist/
*.zip

data/*.csv
!data/train.csv
!data/infer.csv


*.pid
*.seed
*.pid.lock
docker-compose.override.yml

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

