# -------------------
# Redis
# -------------------
REDIS_HOST=redis
REDIS_PORT=6379

# -------------------
# Model (Spark job)
# -------------------
MODEL_DIR=models/spam_clf
# можно указать путь внутри контейнера к сохраненной модели
SPARK_APP_NAME=lab6-model
SPARK_MASTER=local[*]

# -------------------
# API service
# -------------------
API_HOST=0.0.0.0
API_PORT=8000

KAFKA_BROKER=kafka:9092
KAFKA_TOPIC_INPUT=lab6-input
KAFKA_TOPIC_OUTPUT=lab6-output

PYTHONUNBUFFERED=1

